section {
    padding-bottom: 50px;
    border-bottom: black 1px solid;
}

section:first-child>h4 {
    color: blue;
} 

section:nth-child(2)>p {
    border-bottom: red 5px solid;
}

section:nth-child(3) h3 {
    color:red;
}

section:nth-child(3)>h3, section:nth-child(3)>ul {
    color:red;
}

ul>li:nth-child(2) {
    font-size: larger;
}

section:nth-child(5)>span {
    color:blue;
}

section:nth-child(6)>img {
    border: green 10px solid;
    border-radius: 100%;
}
/** 
img[alt=la tartine] {
    border: 10px solid;
    border-radius:50%
}
**/

section:nth-child(7) p:hover {
    color:green;
}